input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {

    -webkit-appearance: none;
    margin: 0;

}

.content-form {

    width: 500px;
    padding: 1rem;

}

.container-form {

    display: flex;
    flex-direction: column;

}

.container-form label {

    font-size: 24px;
    color: var(--main-font-color);
    

}

.container-form input {

    margin: 1rem 0;
    font-size: 18px;
    padding: 10px;
    background-color: var(--color-five);
    border: none;
    border-radius: 3px;
    outline: none;
    color: var(--font-color-two);
    font: 18px var(--main-font);

}

.container-form input:focus {

    outline: 3px solid var(--main-font-color);

}

.content-form div:last-child {

    display: flex;
    justify-content: center;
    margin-top: 1rem;

}

button {

    width: 50%;
    font-size: 16px;
    padding: 10px;
    background-color: var(--font-color-two);
    color: var(--main-font-color);
    border: none;
    border-radius: 3px;
    font: 1rem var(--main-font);
    font-weight: bold;
    letter-spacing: 1px;

}

button:hover {

    background-color: var(--main-font-color);
    color: var(--font-color-two);
    cursor: pointer;

}

.contain-button button:last-child {

    width: 120%;

}

.link {

    margin-left: 1rem;

}