@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

:root {

    --background-color: #003049;
    --font-color-two: #d62828;
    --color-three: #f77f00;
    --main-font-color: #fcbf49;
    --color-five: #eae2b7;
    --main-font: "Fredoka", "Mitr";

}

body, html {

    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    font-family: var(--main-font);
    position: relative;

}

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

h1 {

    text-align: center;
    color: var(--main-font-color);
    font-weight: 400;
    margin-bottom: 1rem;

}

.back {

    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 50px;

}